<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462539405390-d0bdb635c7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1393&q=80);">
  <div class="container">
    <h1>Find All🥃 </h1>
  </div>
  <%= simple_form_for :search, url: cocktails_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :name, input_html: {value: ""} %>
    <%= f.submit "Search", class: "btn btn-dark" %>
  <% end %>
</div>
<div class="container">
  <div class="row my-3">
    <div class="filter-cards col-sm-8 offset-sm-2">
      <% @cocktails.each do |cocktail|%>
        <div class="filter-item">
          <ul style="list-style-type:none;">
            <li style="list-style-type:none;"><%=cocktail.name%> |   <%= link_to 'Show', cocktail %></li>
            <% cocktail.doses.each do |dose| %>
              <li> <%= dose.description%> - <%= link_to dose.ingredient.name, filter_cocktails_path(ingredient: dose.ingredient.name)%>  </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>